.hero {
    background: linear-gradient(
    to right,
    aqua,
    orange)
}
.title {
    color: #fff;
    text-align: center;
    font-size: 50px;
  }

  .card {
    background-color: #a5b1c2;
    margin: 3px;
    min-height: 300px;
  }

  .current-card{
      border-radius: 5px;
      margin-top: 3px;
  }
  .btn {
      background-color: lightblue;
  }

  h2 {
      font-size: 35px;
      margin-bottom: 25px;
  }

 